
body{
    background-color: lime;
    color: black;
}
.nav{
    border: solid black;
    width: 100vw;
    height: 75px;
    background-color: lime;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hulkSmash{
    display: none;
    border: solid forestgreen;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    color: forestgreen;
}
.hulkSmash:hover{
    display: none;
    border: solid forestgreen;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: forestgreen;
    color: black;
    zoom: 1.25;
}
.nextPic{
    display: block;
    border: solid forestgreen;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    color: lime;
}
.nextPic:hover{
    display: block;
    border: solid forestgreen;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    color: lime;
    zoom: 1.25;
}
.saveTheWorld{
    display: none;
    border: solid lime;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
}
.saveTheWorld:hover{
    display: none;
    border: solid lime;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: lime;
    color: black;
    zoom: 1.25;
}
.topcontainer{
    border: solid rgb(0, 0, 0);
    height: 40vh;
    width: 100vw;
    display: flex;
}
.hulk{
display: block;
width: 100%;
}
.avengers{
display: none;
width: 50%;
}
.infinityWar{
display: none;
width: 33%;
}
.hulkSlam{
    display: none;
}
.finalForm{
    display: none;
}
.hulkSnap{
    display: none;
}
.textBox{
    border: solid rgb(0, 0, 0);
    height: 40vh;
    width: 100vw;
    display: flex;
}
.smallBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.medBox{
    display: none;
}
.bigBox{
    display: none;
}