body{
    background-color: black;
    color: rgb(15, 253, 2);
}
.nav{
    border: solid rgb(15, 253, 2);
    width: 100vw;
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hulkSmash{
    display: none;
}
.nextPic{
    display: none;
}
.saveTheWorld{
    display: block;
    border: solid lime;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
}
.saveTheWorld:hover{
    display: block;
    border: solid lime;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: lime;
    color: black;
    zoom: 1.25;
}
.topcontainer{
    border: solid rgb(15, 253, 2);
    height: 40vh;
    width: 100vw;
    display: flex;
}
.hulk{
display: none;
}
.avengers{
display: none;
}
.infinityWar{
display: block;
width: 33%;
}
.hulkSlam{
    display: none;
}
.finalForm{
    display: flex;
    color: white;
    width: 33%;
    text-align: center;
    flex-wrap: wrap;
    font-size: 42px;
}
.hulkSnap{
    display: none;
    width: 33%;
    height: 100%;
    }
.hulkSnap1{
    display: block;
    width: 33%;
    height: 100%;
        }
.textBox{
    border: solid rgb(15, 253, 2);
    height: 40vh;
    width: 100vw;
    display: flex;
}
.smallBox{
    display: none;
}
.medBox{
    display: none;
}
.bigBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
   