body{
    background-color: black;
    color: rgb(15, 253, 2);
}
.topcontainer{
    border: solid rgb(15, 253, 2);
    height: 40vh;
    width: 100vw;
    display: flex;
}
.hulk{
display: none;
}
.avengers{
display: none;
}
.infinityWar{
display: block;
width: 33%;
}
.hulkSlam{
    display: none;
}
.finalForm{
    display: flex;
    color: white;
    width: 33%;
    text-align: center;
    flex-wrap: wrap;
    font-size: 42px;
}
.hulkSnap{
    display: block;
    width: 33%;
    height: 100%;
    }
    .textBox{
        border: solid rgb(15, 253, 2);
        height: 40vh;
        width: 100vw;
        display: flex;
    }
    .smallBox{
        display: none;
    }
    .medBox{
        display: none;
    }
    .bigBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }