
body{
    background-color: forestgreen;
    color: white;
}
.topcontainer{
    border: solid rgb(255, 255, 255);
    height: 40vh;
    width: 100vw;
    display: flex;
}
.hulk{
display: none;
width: 100%;
}
.avengers{
display: block;
width: 50%;
}
.infinityWar{
display: none;
width: 33%;
}
.hulkSlam{
    display: block;
    width: 50%;
}
.finalForm{
    display: none;
}
.textBox{
    border: solid rgb(255, 255, 255);
    height: 40vh;
    width: 100vw;
    display: flex;
}
.smallBox{
    display: none;
}
.medBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.bigBox{
    display: none;
}